.App {
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@import url(https://fonts.googleapis.com/css?family=Oswald);

@import url(https://fonts.googleapis.com/css?family=Pacifico);
.container {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.container h1 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.3125em 0;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.style-2 {
  font-family: "Open Sans Condensed", sans-serif;
}

.style-2:before {
  content: "";
  height: 3px;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  position: absolute;
  width: 300%;
  top: 45%;
  left: -100%;
  z-index: -999;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sweet-loading {
  margin-top: 20%;
}

.Quiz {
  border: 2px solid black;
  height: 300px;
  width: 300px;
  padding: 2%;
  margin-left: 15%;
  margin-right: 10%;
}
.App h1 {
  text-align: center;
}
.Card button {
  display: flex;
  align-items: center;
  justify-content: center;
}
